language: python
services:
- postgresql
- elasticsearch
- redis-server

addons:
  apt:
    sources:
    - elasticsearch-5.x
    packages:
    - elasticsearch
    - oracle-java8-set-default

python:
- 2.7
- 3.6

stages:
- lint
- test

env:
  BROKER_URL: redis://localhost:6379/0

script:
- coverage run --include='pacifica/*' -p -m celery -A pacifica.notifications.tasks worker -c 1 -P solo -l info &
- coverage run --include='pacifica/*' -p -m pytest -v
- celery -A pacifica.notifications.tasks control shutdown
- coverage combine -a .coverage*
- coverage report -m --fail-under 100
- if [[ $CODECLIMATE_REPO_TOKEN ]] ; then codeclimate-test-reporter; fi

jobs:
  include:
  - stage: lint
    python: 3.6
    script: pre-commit run -a
  - python: 2.7
    script: pre-commit run -a

before_install: bash -xe travis/before-install.sh

install:
- pip install -r requirements-dev.txt
- pip install 'celery[redis]'
