version: 0.1.{build}
pull_requests:
  do_not_increment_build_number: true

services:
- postgresql

environment:
  PGUSER: postgres
  PGPASSWORD: Password12!
  PGSQL_PATH: C:\Program Files\PostgreSQL\9.6
  POSTGRES_ENV_POSTGRES_USER: postgres
  POSTGRES_ENV_POSTGRES_PASSWORD: Password12!
  BROKER_URL: redis://localhost:6379/0
  matrix:
  - PYTHON: C:\Python27-x64
  - PYTHON: C:\Python36-x64

install:
- ps: >
    & "$env:PYTHON\python.exe" -m virtualenv C:\pacifica;
    Invoke-WebRequest -Uri "https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.6.5.zip" -OutFile "elasticsearch.zip";
    Expand-Archive "elasticsearch.zip" -DestinationPath "C:\elasticsearch";
    Start-Process C:\elasticsearch\elasticsearch-5.6.5\bin\elasticsearch;
    C:\pacifica\Scripts\activate.ps1;
    python -m pip install --upgrade pip setuptools wheel;
    python -m pip install -r requirements-dev.txt;
    python -m pip install 'celery[eventlet]' 'celery[redis]' redis eventlet;

build: off

before_test:
- ps: >
    $env:PATH = "${env:PGSQL_PATH}\bin;${env:PYTHON}\Scripts;${env:PATH}";
    createdb pacifica_metadata;
    C:\pacifica\Scripts\activate.ps1;
    Start-Process C:\pacifica\Scripts\MetadataServer.exe -WorkingDirectory "travis\metadata" -RedirectStandardError metadata-error.log -RedirectStandardOutput metadata-output.log;
    Start-Process $env:PYTHON\python.exe -ArgumentList "test_files\cherrypy_catch.py";
    Start-Process C:\pacifica\Scripts\PolicyServer.exe -WorkingDirectory "travis\policy" -RedirectStandardError policy-error.log -RedirectStandardOutput policy-output.log;
    Invoke-WebRequest https://github.com/pacifica/pacifica-metadata/archive/master.zip -OutFile pacifica-metadata.zip;
    Expand-Archive pacifica-metadata.zip -DestinationPath C:\pacifica-metadata;
    nuget install redis-64 -excludeversion;
    redis-64\tools\redis-server.exe --service-install;
    redis-64\tools\redis-server.exe --service-start;
    Invoke-WebRequest http://localhost:8121/users;
    pushd C:\pacifica-metadata\pacifica-metadata-master;
    python -m test_files.loadit;
    popd;


test_script:
- ps: >
    mkdir C:\tmp; C:\pacifica\Scripts\activate.ps1;
    pre-commit run -a;
    $celery_proc = Start-Process $env:PYTHON\python.exe -ArgumentList "-m coverage run --include=pacifica/* -p -m celery -A pacifica.notifications.tasks worker -l info -P eventlet";
    coverage run --include='pacifica/*' -p -m pytest -v;
    python -m celery -A pacifica.notifications.tasks control shutdown;
    $celery_proc | Wait-Process;
    ls .coverage* | %{ python -m coverage combine -a $_.name };
    coverage report -m --fail-under=100;
