version: 0.1.{build}
pull_requests:
  do_not_increment_build_number: true

services:
- postgresql

environment:
  PGUSER: postgres
  PGPASSWORD: Password12!
  PGSQL_PATH: C:\Program Files\PostgreSQL\9.6
  PEEWEE_URL: postgres://postgres:Password12!@localhost/pacifica_metadata
  BROKER_URL: redis://localhost:6379/0
  matrix:
  - PYTHON: C:\Python27-x64
  - PYTHON: C:\Python36-x64

install:
- ps: >
    & "$env:PYTHON\python.exe" -m virtualenv C:\pacifica;
    Invoke-WebRequest -Uri "https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.6.5.zip" -OutFile "elasticsearch.zip";
    Expand-Archive "elasticsearch.zip" -DestinationPath "C:\elasticsearch";
    Start-Process C:\elasticsearch\elasticsearch-5.6.5\bin\elasticsearch;
    C:\pacifica\Scripts\activate.ps1;
    python -m pip install --upgrade pip setuptools wheel;
    python -m pip install -r requirements-dev.txt;
    python -m pip install 'celery[redis]' 'redis';
    echo 'Done';

build: off

before_test:
- ps: >
    $env:PATH = "${env:PGSQL_PATH}\bin;${env:PYTHON}\Scripts;${env:PATH}";
    createdb pacifica_metadata;
    C:\pacifica\Scripts\activate.ps1;
    $env:METADATA_CPCONFIG = "$PWD/travis/metadata/server.conf";
    $env:POLICY_CPCONFIG = "$PWD/travis/policy/server.conf";
    $env:METADATA_URL = "http://127.0.0.1:8121";
    $env:STATUS_URL = "http://127.0.0.1:8121/groups";
    pacifica-metadata-cmd dbsync;
    Start-Process C:\pacifica\Scripts\pacifica-metadata.exe -RedirectStandardError metadata-error.log -RedirectStandardOutput metadata-output.log;
    $MD_VERSION = `pip show pacifica-metadata | grep Version: | awk '{ print $2 }';
    Invoke-WebRequest https://github.com/pacifica/pacifica-metadata/archive/v${MD_VERSION}.zip -OutFile pacifica-metadata.zip;
    Expand-Archive pacifica-metadata.zip -DestinationPath C:\pacifica-metadata;
    nuget install redis-64 -excludeversion;
    redis-64\tools\redis-server.exe --service-install;
    redis-64\tools\redis-server.exe --service-start;
    Invoke-WebRequest http://localhost:8121/users;
    pushd C:\pacifica-metadata\pacifica-metadata-${MD_VERSION};
    python tests\test_files\loadit_test.py;
    popd;
    Start-Process C:\pacifica\Scripts\pacifica-policy.exe -RedirectStandardError policy-error.log -RedirectStandardOutput policy-output.log;
    Start-Process C:\pacifica\Scripts\python.exe -ArgumentList "tests\cherrypy_catch_test.py" -RedirectStandardError catch-error.log -RedirectStandardOutput catch-output.log;

test_script:
- ps: >
    mkdir C:\tmp; C:\pacifica\Scripts\activate.ps1;
    pre-commit run -a;
    $env:NOTIFICATIONS_CPCONFIG = "$PWD/server.conf";
    cd tests;
    pip install pacifica-notifications==0.2.3;
    python -c 'from pacifica.notifications.orm import database_setup; database_setup()';
    pip install ..;
    echo "This command should fail";
    coverage run --include='*/site-packages/pacifica/notifications/*' -m pacifica.notifications;
    if ($LastExitCode -eq 0) { $host.SetShouldExit(-1); };
    coverage run --include='*/site-packages/pacifica/notifications/*' -a cmd_test.py dbchk --equal;
    if ($LastExitCode -eq 0) { $host.SetShouldExit(-1); };
    coverage run --include='*/site-packages/pacifica/notifications/*' -a cmd_test.py dbchk;
    if ($LastExitCode -eq 0) { $host.SetShouldExit(-1); };
    coverage run --include='*/site-packages/pacifica/notifications/*' -a cmd_test.py dbsync;
    rm -Force db.sqlite3;
    coverage run --include='*/site-packages/pacifica/notifications/*' -a cmd_test.py dbsync;
    coverage run --include='*/site-packages/pacifica/notifications/*' -a cmd_test.py dbchk --equal;
    coverage run --include='*/site-packages/pacifica/notifications/*' -a cmd_test.py dbchk;
    coverage run --include='*/site-packages/pacifica/notifications/*' -am pacifica.notifications --stop-after-a-moment;
    $celery_proc = Start-Process C:\pacifica\Scripts\coverage.exe -ArgumentList "run --include=*/site-packages/pacifica/notifications/* -p -m celery -A pacifica.notifications.tasks worker -l info -c 1 -P solo" -RedirectStandardError celery-error.log -RedirectStandardOutput celery-output.log;
    sleep 3;
    coverage run --include='*/site-packages/pacifica/notifications/*' -p -m pytest -vx;
    python -m celery -A pacifica.notifications.tasks control shutdown;
    $celery_proc | Wait-Process;
    ls .coverage* | %{ python -m coverage combine -a $_.name };
    coverage report -m --fail-under=100;
