-r requirements2.txt
codeclimate-test-reporter
coverage>4.0,<4.4
-e git://github.com/pacifica/pacifica-metadata.git#egg=PacificaMetadata
-e git://github.com/pacifica/pacifica-policy.git#egg=PacificaPolicy
pep257
pre-commit
pylint<2.0
pytest
